
{% extends "base.html" %}

{% block content %}

<h1>Home</h1>

<a href="/registro-iniciativa">Ingresa nueva iniciativa</a>

<h3>Iniciativas registradas</h3>

    {% for iniciativa in lista_iniciativas %}
        <p><b>campo: </b>{{iniciativa.nro_correlativo}}</p>
        <p><b>campo: </b>{{iniciativa.eje_estrategico}}</p>
        <p><b>campo: </b>{{iniciativa.requerimiento}}</p>
        <p><b>campo: </b>{{iniciativa.fecha_solicitud}}</p>
        <p><b>campo: </b>{{iniciativa.fecha_solped}}</p>
        <p><b>campo: </b>{{iniciativa.descripcion}}</p>
        <p><b>campo: </b>{{iniciativa.objetivo}}</p>
        <p><b>campo: </b>{{iniciativa.beneficio}}</p>
        <p><b>campo: </b>{{iniciativa.impacto}}</p>
        <p><b>campo: </b>{{iniciativa.inicio}}</p>
        <p><b>campo: </b>{{iniciativa.fin}}</p>
        <p><b>campo: </b>{{iniciativa.sponsor}}</p>
        <p><b>campo: </b>{{iniciativa.solicitante}}</p>
        <p><b>campo: </b>{{iniciativa.capa_red}}</p>
        <p><b>campo: </b>{{iniciativa.ubicacion}}</p>
        <p><b>campo: </b>{{iniciativa.tipo}}</p>
        <p>-----------------------------------------------</p>
    {% endfor %}

{% endblock %}